.prioritizable-blog-posts.no-heading .sub-heading {
    display: none;
}

.prioritized-blog-posts .blog-post-listing {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;

    border-color: #F0C000;
    background-color: #FFFFCE;
}