#requireResourcesForContext("duodji.macros.simplespacelist.mobile")

#if($spaces.empty)
   <p>$i18n.getText("no.spaces.found")</p>
#else
	<ul class="simple-space-list">
		#foreach($space in $spaces)
		<li><a class="icon icon-space" id="spacelink-$space.key" href="$req.contextPath/display/$space.key">$space.name</a></li>
		#end
	</ul>
#end